<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Eerste Baarnse Vrouwensoci&#233;teit, Amiti&#233;</title>
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">

    <script src="/js/modernizr-2.6.2.min.js"></script>
  </head>
  <body {% block bodyclass %}{% endblock %}>
    <header>
      <div class="container_12">
        <h1 class="grid_6">
          Eerste Baarnse Vrouwensoci&#233;teit, Amiti&#233;
        </h1>
        <nav class="grid_6">
          <ul>
            {% block menu %}
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="{% url facebook.views.index %}">Onze leden</a>
            </li>
            <li>
              <a href="{% url pages.views.index_by_type "nieuws" %}">Nieuws</a>
            </li>
            <li>
              <a href="{% url pages.views.index_by_type "agenda" %}">Agenda</a>
            </li>
            <li>
              <a href="{% url pages.views.index_by_type "notulen" %}">Notulen</a>
            </li>
            <li>
              <a href="{% url pages.views.index_by_type "menu" %}">Menu</a>
            </li>
            {% endblock %}
          </ul>
          <ul class="small-nav">
            <li>
              <a href="/logout/">Uitloggen</a>
            </li>
            <li>
              <a href="/accounts/password_change/">Wijzig wachtwoord</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container container_12">
      <div class="grid_container">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.8.2.min.js"><\/script>')</script>
    <script src="//use.edgefonts.net/gentium-book-basic.js"></script>
    <script src="//use.edgefonts.net/league-gothic.js"></script>
    <script src="//use.edgefonts.net/lobster.js"></script>
    <script src="/js/amitie.js"></script>
  </body>
</html>
