{% extends "base.html" %}
{% block content %}
  <div class="grid_element grid_4">
    <div class="grid_inner">
      <h1>Zoeken naar leden</h1>
      <form class="form" action="{% url facebook.views.index %}" method="get">
        <div class="row">
          <label for="search">Naam</label>
          <input id="search" name="q" type="text" placeholder="Voer een naam in..." value="{{ search }}" />
        </div>

        <div class="button">
          <input type="submit" value="Zoeken" />
        </div>
      </form>
      <h1>Jarigen?</h1>
      <h2>Komende maand</h2>
      {% if next_birthday %}
        <ul class="bday">
          {% for person in next_birthday %}
          <li>
            {{ person.date_of_birth|date:"j-m" }}:
            <a href="{% url facebook.views.person_by_slug person.slug %}">{{ person }}</a>
          </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Er is niemand jarig komende 4 weken.</p>
      {% endif %}
    </div>
  </div>
  <div class="grid_element grid_8">
    <div class="grid_inner">
      <div class="pagination">
        <span class="step-links">
        {% if persons.has_previous %}
          <a href="?page={{ persons.previous_page_number }}">Vorige</a>
        {% endif %}

        <span class="current">Pagina {{ persons.number }} van {{ persons.paginator.num_pages }}</span>

        {% if persons.has_next %}
          <a href="?page={{ persons.next_page_number }}">Volgende</a>
        {% endif %}
        </span>
      </div>

    {% if persons %}
      {% for person in persons %}
        {% if person.picture %}
        <img src="/media/{{ person.picture }}" width="100" align="right" />
        {% endif %}
        <h1>{{ person }}</h1>
        <p>{{ person.street }}<br />{{ person.zipcode }} {{ person.city }}</p>
        <p>Lid sinds: {{ person.member_since }}<br />Telefoonnummer: {{ person.phonenumber }}</p>
        <p><a href="{% url facebook.views.person_by_slug person.slug %}">Meer informatie</a></p>
      {% endfor %}
    {% else %}
      <p>Er zijn geen personen gevonden.</p>
    {% endif %}

      <div class="pagination">
        <span class="step-links">
        {% if persons.has_previous %}
          <a href="?page={{ persons.previous_page_number }}">Vorige</a>
        {% endif %}

        <span class="current">Pagina {{ persons.number }} van {{ persons.paginator.num_pages }}</span>

        {% if persons.has_next %}
          <a href="?page={{ persons.next_page_number }}">Volgende</a>
        {% endif %}
        </span>
      </div>
    </div>
  </div>
{% endblock %}