{% extends "base.html" %}

{% block bodyclass %}
  class="login-page"
{% endblock %}

{% block menu %}
<ul>
  <li>
    <a id="login-link" href="javascript:void(0);">Inloggen</a>
  </li>
</ul>
{% endblock %}

{% block content %}
<div id="grid_login" class="push_4 grid_element grid_4">
  <div class="grid_inner">
    <h1>Inloggen</h1>
    <p>Deze site is besloten en alleen voor leden beschikbaar.</p>
    <p>Met behulp van uw emailadres en bijbehorende wachtwoord, kunt u inloggen.</p>
    <form class="form" action="" method="post">
      <input type="hidden" name="next" value="{{next}}" />

      {% csrf_token %}
      {% if form.errors %}<p>Het formulier is niet correct ingevuld:</p>{% endif %}
      <div class="row">
        {% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
        <p>
          <label for="username"{% if form.username.errors %} class="error"{% endif %}>Gebruikersnaam:</label>
        </p>
        <p>{{ form.username }}</p>
      </div>
      <div class="row">
        {% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
        <p>
          <label for="password"{% if form.password.errors %} class="error"{% endif %}>Wachtwoord:</label>
        </p>
        <p>{{ form.password }}</p>
      </div>
      <div class="button">
        <input type="submit" value="Inloggen" />
      </div>
    </form>
  </div>
</div>
{% endblock %}