{% extends "base.html" %}

{% load markup %}
{% load thumbnail %}

{% block content %}
  {% if not page.picture_set.all and not page.alias == "home" %}
    <div class="grid_element grid_2">
    </div>
  {% endif %}
  <div class="grid_element grid_8">
    <div class="grid_inner">
      <h1>{{ page.title }}</h1>
      <div class="body">
        {{ page.body|markdown:"safe" }}
      </div>
    </div>
  </div>
  {% if nieuws %}
    <div class="grid_element grid_4">
      <div class="nieuwsblok"></div>
      <div class="grid_inner">
        <h1>{{ nieuws.title }}</h1>
        {{ nieuws.body|markdown:"safe"|truncatewords:15 }}
        <p>
          <a href="{% url pages.views.page_by_slug nieuws.slug %}">Lees meer</a>
        </p>
      </div>
    </div>
  {% endif %}
  {% if next_birthday %}
    <div class="grid_element grid_4">
      <div class="jarig"></div>
      <div class="grid_inner">
        <h1>Jarigen?</h1>
        <h2>Komende maand</h2>
        {% if next_birthday %}
          <ul class="bday">
            {% for person in next_birthday %}
            <li>
              {{ person.date_of_birth|date:"j b" }}:
              <a href="{% url facebook.views.person_by_slug person.slug %}">{{ person }}</a>
            </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>Er is niemand jarig komende 4 weken.</p>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if page.picture_set.all %}
    <div class="grid_element grid_4">
      <div class="grid_inner">
        {% for picture in page.picture_set.all %}
        <p>
          <a class="fancybox" rel="gallery1" href="{{ picture.picture.url }}">
            {% thumbnail picture.picture "280x280" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
          </a>
        </p>
        {% endfor %}
      </div>
    </div>
  {% elif not page.alias == "home" %}
    <div class="grid_element grid_2">
    </div>
  {% endif %}
{% endblock %}
