{% extends "base.html" %}

{% load markup %}
{% load thumbnail %}

{% block content %}
  <div class="grid_element grid_4">
    <div class="grid_inner">
      <h1>Zoeken naar leden</h1>
      <a href="{% url facebook.views.index %}">Opnieuw zoeken</a>
    </div>
  </div>
  <div class="grid_element grid_8">
    <div class="grid_inner">
      {% if person.picture %}
        {% thumbnail person.picture "200" crop="center" as im %}
          <img src="{{ im.url }}" align="right" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      {% endif %}
      <h1>{{ person }}</h1>
      <p>{{ person.street }}<br />{{ person.zipcode }} {{ person.city }}</p>
      <p>
        Geboortedatum: {{ person.date_of_birth|date:"j F Y" }}
        {% if person.has_birthday %} (<strong>vandaag jarig</strong>){% endif %}
      </p>
      <p>Lid sinds: {{ person.member_since }}</p>
      <p>
        Telefoonnummer: {{ person.phonenumber }}
        {% if person.cellphone %}
          <br/>Mobiel: {{ person.cellphone }}
        {% endif %}
        {% if person.email %}
          <br/>Emailadres: <a href="mailto:{{ person.email }}">{{ person.email }}</a>
        {% endif %}
      </p>
      {% if person.expertise %}
        <p><strong>Expertise:</strong></p>
        {{ person.expertise|markdown:"safe" }}
      {% endif %}
    </div>
  </div>
{% endblock %}
